*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  overflow-x: hidden;
}

body {
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
}

ul {
  padding: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.fav{
  color: yellow;
}